@font-face {
  font-family: 'Satoshi';
  src: url(fonts/Satoshi-Variable.ttf);
}

*{
  font-family: 'Satoshi';}

html, body{
min-height: 100%;
width: auto;
padding: 0;
margin: 0;
left: 0;
right: 0;
}

 body{
  height: 100vh;
  }
  
  header {
    display: inline;
    width: 100%;
    margin: auto;
  }

  #textlogo {
    font-size: 4em;
    font-weight: 800;
    float: left;
    margin-left: 1%;
   border-bottom: solid #222;
    border-top: solid #222;
    border-width: 1px;
  }

.nav{
  float: right;
  margin-right: 1%;
  padding-top: 1%;
}

  .nav li:hover {
    color: rgb(71, 71, 71);
    text-shadow: 0 0 5px #ff0000;
  }

  .nav_actions li{
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    display: inline-block;
    border-bottom: solid #222;
    border-top: solid #222;
    border-width: 1px;
    margin: 10px auto;
    width: 90px;
    list-style-type: none;
  }


  .nav_actions ul{
    padding: 0;
  }

  .content{
    position: relative;
    height: 100%;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;

  }


  #rotatingcontainer{
    padding-top: 3%;
    justify-content: center;
  }

  .contents{
    display: block;
    z-index: 1;
    position: absolute;
    justify-content: center;
    margin: auto;
    left: 0;
  right: 0;
    animation: visible1  40s linear  infinite;
  }

  @keyframes visible1 {
    0% {visibility: visible; opacity: 1;}
    10% {visibility: visible; opacity:1 ;}
    20% {visibility: hidden; opacity:0}
    30% {visibility: hidden; opacity:0}
    40% {visibility: hidden; opacity:0}
    50% {visibility: hidden;opacity:0}
    60% {visibility: hidden;opacity:0}
    70% {visibility: hidden;opacity:0}
    80% {visibility: hidden;opacity:0}
    90% {visibility: hidden;opacity:0}
    100% {visibility: hidden;opacity:0}}

.contents2{
  display:block;
  position: absolute;
  justify-content: center;
    margin: auto;
    left: 0;
  right: 0;
  z-index: 2;
  animation: visible2 40s linear  infinite;
}

@keyframes visible2 {
  0% {visibility: hidden;opacity:0}
  10% {visibility: hidden;opacity:0}
  20% {visibility: hidden;opacity:0}
  30% {visibility: visible;opacity:1}
  40% {visibility: visible;opacity:1}
  50% {visibility: hidden;opacity:0}
  60% {visibility: hidden;opacity:0}
  70% {visibility: hidden;opacity:0}
  80% {visibility: hidden;opacity:0}
  90% {visibility: hidden;opacity:0}
  100% {visibility: hidden;opacity:0}}

.contents3{
  display:block; 
  position: absolute;
  justify-content: center;
  margin: auto;
  left: 0;
right: 0;
  z-index: 3;
  animation: visible3 40s linear  infinite;

}

@keyframes visible3 {
  0% {visibility: hidden;opacity:0}
  10% {visibility: hidden;opacity:0}
  20% {visibility: hidden;opacity:0}
  30% {visibility: hidden;opacity:0}
  40% {visibility: hidden;opacity:0}
  50% {visibility: hidden;opacity:0}
  60% {visibility: visible;opacity:1}
  70% {visibility: visible;opacity:1}
  80% {visibility: hidden;opacity:0}
  90% {visibility: hidden;opacity:0}
  100% {visibility: hidden;opacity:0}}

.contents4 {
  display:block;
  position: absolute;
  justify-content: center;
  margin: auto;
  left: 0;
right: 0;
  animation: visible4 40s linear  infinite;
}

@keyframes visible4 {
  0% {visibility: hidden;opacity:0}
  10% {visibility: hidden;opacity:0}
  20% {visibility: hidden;opacity:0}
  30% {visibility: hidden;opacity:0}
  40% {visibility: hidden;opacity:0}
  50% {visibility: hidden;opacity:0}
  60% {visibility: hidden;opacity:0}
  70% {visibility: hidden;opacity:0}
  80% {visibility: hidden;opacity:0}
  90% {visibility: visible;opacity:1}
  100% {visibility: visible;opacity:1}}

  .border-wrapper{
    max-width: 180px;
    max-height: 220px;
    background: linear-gradient(to right, red, purple);
    margin: 10px auto;
  }

  p, 
  li {
    font-size: 18px;
    list-style-type: none;
  }
   

  a {
    text-decoration: none;
  }


.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 position: sticky;
 width: auto;
  margin-left: 45%;
}

#aboutme {
  max-width: 50px;
 max-height: 50px;
 min-width: 49px;
 min-height: 49px;
 animation: fade 40s linear 1s infinite;
}

@keyframes fade {
  0% {opacity: 1;}
  10% {opacity: 1;}
  20% {opacity: 0.3;}
  30% {opacity: 0.3;}
  40% {opacity: 0.3;}
  50% {opacity: 0.3;}
  60% {opacity: 0.3;}
  70% {opacity: 0.3;}
  80% {opacity: 0.3;}
  90% {opacity: 0.3;}
  100% {opacity: 0.3;}}


#papers {
  opacity: 30%;
  max-width: 50px;
  max-height: 50px;
  min-width: 49px;
  min-height: 49px;
  animation: fade2 40s linear 1s infinite;
}
@keyframes fade2 {
  0% {opacity: 0.3;}
  10% {opacity: 0.3;}
  20% {opacity: 0.3;}
  30% {opacity: 1;}
  40% {opacity: 1;}
  50% {opacity: 0.3;}
  60% {opacity: 0.3;}
  70% {opacity: 0.3;}
  80% {opacity: 0.3;}
  90% {opacity: 0.3;}
  100% {opacity: 0.3;}
  }

#projects {
  opacity: 30%;
  max-width: 50px;
  max-height: 50px;
  min-width: 49px;
  min-height: 49px;
  animation: fade3 40s linear 1s infinite;
}
@keyframes fade3 {
  0% {opacity: 0.3;}
  10% {opacity: 0.3;}
  20% {opacity: 0.3;}
  30% {opacity: 0.3;}
  40% {opacity: 0.3;}
  50% {opacity: 0.3}
  60% {opacity: 1;}
  70% {opacity: 1;}
  80% {opacity: 0.3;}
  90% {opacity: 0.3;}
  100% {opacity: 0.3;}
  }

#twitter {
  opacity: 30%;
  max-width: 50px;
  max-height: 50px;
  min-width: 49px;
  min-height: 49px;
  animation: fade4 40s linear 1s infinite;
}
@keyframes fade4 {
  0% {opacity: 0.3;}
  10% {opacity: 0.3;}
  20% {opacity: 0.3;}
  30% {opacity: 0.3;}
  40% {opacity: 0.3;}
  50% {opacity: 0.3}
  60% {opacity: 0.3;}
  70% {opacity: 0.3;}
  80% {opacity: 0.3;}
  90% {opacity: 1;}
  100% {opacity: 1;}
  }

#RichiePic {
  width: 15%;
  margin: 10px auto;
  border: 2px solid #222;
}
#Paper1 {
  width: 40%;
  margin: 10px auto;
}



#form{

}


#Message{
display: block;
}

input[type=text]{
border: 1px solid rgb(0, 0, 0);
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
padding: 2px;
margin: 6px 4px;
}


textarea {
  display: block;
  width: 40%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgb(0, 0, 0); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin: 0 auto;
}
/* Style the submit button with a specific background color etc */
input[type=send] {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  border: none;
  width: 3em;
  text-align: center;
  cursor: pointer;
  margin: 4px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=send]:hover {
    color: rgb(73, 73, 73);
    text-shadow: 0 0 5px #ff0000;
}

footer {
  text-align: center;
  width: 100%;
  bottom: 0;

}

  span{
    align-self: center;
  }

