@font-face {
  font-family: 'Satoshi';
  src: url(fonts/Satoshi-Variable.ttf);
}

*{
  font-family: 'Satoshi';}

html, body{
min-height: 100%;
}

 body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
  #textlogo {
    font-size: 4em;
    font-weight: 800;
    float: left;
    margin-left: 1%;
   border-bottom: solid #222;
    border-top: solid #222;
    border-width: 1px;
  }

.nav{
  float: right;
  margin-right: 1%;
  padding-top: 1%;
}

  .nav li:hover {
    color: rgb(71, 71, 71);
    text-shadow: 0 0 5px #ff0000;
  }

  .nav_actions li{
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    display: inline-block;
    border-bottom: solid #222;
    border-top: solid #222;
    border-width: 1px;
    margin: 10px auto;
    width: 90px;
    list-style-type: none;
  }
h1, nav, div{
  display: inline-block;
}
  .nav_actions ul{
    padding: 0;
  }

.content{
  text-align: center;
}




  .border-wrapper{
    max-width: 180px;
    max-height: 220px;
    background: linear-gradient(to right, red, purple);
    margin: 10px auto;
  }

  p, 
  li {
    font-size: 18px;
    list-style-type: none;
  }
   

  a {
    text-decoration: none;
  }



.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 position: sticky;
  max-width: 50px;
  max-height: 50px;
  min-width: 49px;
  min-height: 49px;
  margin-left: 45%;
 
}

#aboutme {
  
}

#papers {
  opacity: 30%;

}

#projects {
  opacity: 30%;

}

#twitter {
  opacity: 30%;

}



#rotatingcontainer{
  padding-top: 3%;
}
#RichiePic {
  width: 20%;
  margin: 10px auto;
  border: 2px solid #222;
}


#Message{
display: block;
}

input[type=text]{
border: 1px solid rgb(0, 0, 0);
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
padding: 2px;
margin: 6px 4px;
}


textarea {
  display: block;
  width: 40%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgb(0, 0, 0); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin: 0 auto;
}
/* Style the submit button with a specific background color etc */
input[type=send] {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  border: none;
  width: 3em;
  text-align: center;
  cursor: pointer;
  margin: 4px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=send]:hover {
    color: rgb(73, 73, 73);
    text-shadow: 0 0 5px #ff0000;
}

  footer {
    display: block;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: auto;
  }
  span{
    align-self: center;
  }

